<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\Users\Administrator\AppData\Local\Programs\Python\Python310\python.exe|C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="C:\\Users\\Administrator\\Desktop\\TelegramBot" />

  </appSettings>
</configuration>
